apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

namePrefix: dev-

patches:
- path: replica-patch.yaml
namespace: dev

configMapGenerator:
- name: web-app-config    # must match the name in base/configmap.yaml exactly
  behavior: merge
  literals:
  - LOG_LEVEL=warn
  - APP_ENV=production